<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Students</title>
</head>
<body>
    {% include 'navbar.html' %}
    
    <h1>Update Students</h1>

    <form method="post">
        <input 
        type="text"
        name="student_id"
        placeholder="Student ID">
        <br><br>

        <input type="nnumber" name="semester" placeholder="Enter Semester">
        <br><br>
        <input type="text" name="name" placeholder="Enter name">
        <br><br>
        <button type="submit">
                Update
        </button>

    </form>
</body>
</html>